###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Source files
###############################################################################

*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.md    text
*.txt   text

###############################################################################
# Binary files
###############################################################################

*.wasm  binary
