###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Source files
###############################################################################

*.css   text
*.html  text
*.js    text
*.md    text
*.txt   text
